{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<main class="container">
    <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">{{object.title}}</h2>
        <p class="blog-post-meta">{{object.creation.date}}</p>
        <b>Количество просмотров: {{ object.views_count}}</b>
        <hr>
        <p>{{object.text}}</p>
        <a href="{% url 'blog:update' object.pk %}"
           class="btn btn-outline-primary mb-5">Редактировать статью</a>
        <a href="{% url 'blog:delete' object.pk %}"
           class="btn btn-outline-secondary mb-5">Удалить статью</a>
    </article>
    {% endblock %}
</main>
