{% extends 'catalog/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for object in product_list %}
        <div class="col-0">
            <h5 class="my-0 font-weight-normal">{{ object.category }}:</h5>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal">{{ object.title }}:</h5>
                    <h5 class="my-0 font-weight-normal">{{ object.description }}</h5>
                </div>
                <div class="card-body">
                    <img src="{{ object.image|image_files }}"/>
                    <h2 class="card-title pricing-card-title">Цена: {{ object.price }}</h2>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Подписка на 1 год</li>
                        <li>- Поддержка</li>
                        <li>- Получение обновлений</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}